<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayDle !</title>
    <link rel="stylesheet" href="../static/style/styleMain.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
</head>
<body>
    <h1>WikiDle !</h1>
    <div class="gallery">
        <div class="image-container">
            <a href="/hunterdle">
                <img src="../static/images/hunter.png" alt="Image 3">
                <div class="image-title">HunterxHunterDle</div>
            </a>
        </div>
        <div class="image-container">
            <a href="/animaldle">
                <img src="../static/images/animal.png" alt="Image 4">
                <div class="image-title">AnimauxDle</div>
            </a>
        </div>
        <div class="image-container">
            <a href="/dinodle">
                <img src="../static/images/dinosaur.png" alt="Image 1">
                <div class="image-title">DinoDle</div>
            </a>
        </div>
        <div class="image-container">
            <a href="https://geodle.onrender.com/">
                <img src="../static/images/geodle.png" alt="Image 2">
                <div class="image-title">GeoDle</div>
            </a>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
